*{
    margin: 0;
    padding: 0;
}
html, body {
    overflow-x: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    gap: 132px;
    padding-left: 145px;
    padding-right: 142px;
    box-sizing: border-box;
}
.card-1, .card-3{
    width: 319px;
    height: 492px;
    flex-shrink: 0;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.card-2{
    width: 321px;
    height: 491px;
    flex-shrink: 0;
    border: 4px solid #65856E;
    background: rgba(217, 217, 217, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.lorem{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text{
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ellipse{
    position: absolute;
    top: -50px;
}
.picture{
    position: absolute;
    top: -30px;
}
