* {
    margin: 0;
    padding: 0;
}

header, footer {
    height: 21.85vh;
    background-color: #D9D9D9;
}

main {
    display: flex;
    height: 56.3vh;
}

.side {
    width: 26.85vw;
    background-color: #C0BDBD;
}

.center {
    width: 46.3vw;
    display: flex;
    flex-direction: column;
}

.top-center {
    height: 26.13vh;
    background-color: #827878;
}

.bottom-center {
    height: 30.16vh;
    background-color: #B7ADAD;
}
