body {
    margin: 0;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #f0f0f0;
}

.font-block {
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    border-radius: 12px;
}

.rubik {
    background-color: #9AA8A8;
    font-family: 'Rubik Pixels', cursive;
}

.sedgwick {
    background-color: #466A44;
    font-family: 'Sedgwick Ave Display', cursive;
}

.dancing {
    background-color: #E0D5BE;
    font-family: 'Dancing Script', cursive;
}

.fjalla {
    background-color: #E0908D;
    font-family: 'Fjalla One', sans-serif;
}

.indie {
    background-color: #C7495C;
    font-family: 'Indie Flower', cursive;
}