.block1 > ul > li:nth-child(even) {
    color: pink;
}

.block2 > ul > li:nth-child(odd) {
    font-size: 22px;
}

.block3 > ul > li:nth-child(n+4):nth-child(even)::after {
    content: " !";
    color: orange;
}

.block4 > ul > li:last-child {
    color: purple;
}

.block5 > ul > li::first-letter {
    font-size: 30px;
    color: red;
}

